:root {
    --white: #FFFFFF;
    --black: #000000;
    --yellow: #FFE071;
    --gray: #2BBE34;
    --gray-blue: #0D1423;

    --light-purple: #EFE9F9;
    --red-heart: ##A50954;
    --blue-heart: #ACD9B2;

    --backgraud-div: #0C151D;
    --backgraud-section: #171F26;
    --backgraud-pag: #0C151D;
    --clear-grey: #A3ABB2;

    --sm: 14px;
    --md: 22px;
    --lg: 46px;
}

figure{
    margin: 0;
    padding: 0;
}

.foto {
    width: 192px;
    height: 192px;
    border-radius: 50%;
}

.image-button {
    display: inline-block;
}

.image-galeria {
    width: 362px;
    height: 226px;
    margin: 0 26px 52px;
    border-radius: 15px;
    background-color: var(--black);
}