.container {
    display: grid;
    grid-template-columns: 1fr;
    width: 100vmax;
}

.imageContainer img{
    object-fit: cover;
    border-radius: 50%;
    background-color: var(--back-img);
}

.title {
    text-align: center;
}

.cartContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info {
    margin: 0 25px;
}