:root {
    --black: #000;
    --white: #fff;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    background-color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
}

