:root {
    --white: #ffffff;
    --black: #000000;
    --shadow: #00000017;
    --gren: #44cc00;
    --sm: 16px;
    --md: 24px;
    --lg: 32px
}

.card-info {
    display: grid;
    grid-row: repeat(2, 1fr);
}

.card-container {
    width: 1170px;
    height: 368px;
    margin: 10px 10px 50px;
    display: flex;
    background-color: var(--white);
    box-shadow: 0 3px 13px 1px var(--shadow);
}

.card-image {
    height: 100%;
    width: auto;
}

.card-content {
    text-align: start;
    padding: 40px 40px 0 40px;
    font-weight: 400;
}

.card-title {
    font-size: var(--lg);
    margin-bottom: 15px;
}

.card-date .card-place {
    font-size: var(--sm);
}

.card-description {
    font-size: var(--sm);
    text-align: justify;
    margin-top: 24px;
}

.card-enlaces {
    display: flex;
    padding: 0 0 0 40px;
}

figure {
    margin: 15px 10px;
}

.card-icon {
    height: 20px;
    width: 20px;
}

.card-content-t-i{
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 0;
    margin: 0;
}

.card-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gren);
    border-radius: 2px;
    margin: 26px 25px ;
    padding: 0 6px ;
    color: var(--white);
}
/* 
.card-input {
    background-color: var(--gren);
    border: none;
    width: 100px;
    height: 25px;
    margin: 26px 25px ;

    align-items: end;
} */